[Desktop Entry]
Type=Application
Name=Mesen-S
Comment=SNES Emulator
Categories=GNOME;GTK;Game;Emulator;
MimeType=
Exec=mono /home/jesse/Downloads/Mesen-S.exe %f
NoDisplay=false
StartupNotify=true
Icon=MesenIcon
